<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>awy - login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.5.3/css/foundation.min.css">
</head>
<body>
    <div class="grid-container">
        <div class="grid-x" style="margin-top:2.3rem;">
            <div class="cell small-1 medium-2 large-3"></div>
            <div class="cell small-10 medium-8 large-6">
                <form action="/login" method="POST">
                    <input type="text" name="username">
                    <input type="password" name="passwd">
                    <input type="submit" value="Login" class="button secondary">
                </form>
            </div>
            <div class="cell small-1 medium-2 large-3"></div>
        </div>
    </div>
</body>
</html>
